
/* Activity 1 */

/* body{
    text-align: center;
    margin-top: 150px;
}

div{
    
    height: 100px;
    width: 500px;
    border : 1px solid black;
    margin: auto;
} */

/* Activity 2 */

.box{
    width: 100px;;
    height: 100px;
    background-color: pink;
    border: 1px solid black;
}